.footer-text {
  margin-bottom: 5px;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
}

.footer-link:hover {
  color: #3b88eb;
}

footer.footer {
  height: 120px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .row {
  width: 100%;
}

.footer .col-md-6 {
  width: 100%;
  text-align: center;
}
